#rects{    
  .rect{
    margin-bottom: 50px;
    padding: 25px 0;
    @include grid(4,0);

    hr{
      @include hr;
    }
    .number ,.icon , .lines {
      text-align: center;
      padding: 10px;
    }
    .icon {
      font-size: 2.5rem;
      i {
      opacity: 1;
        &:hover{
        transition: opacity .2s ease-in-out;
        opacity: .5;
        }
      } 
    }
  }
  @media only screen and (max-width: 900px) {
    .rect {
      width: 49.99999%;
    }
  }
  @media only screen and (max-width: 750px) {
    .rect {
      width: 100%;
    }
  }
}

#portfolio {
  .portfolio-item {
    @include item;
    // overflow: hidden !important;
    @include grid(4 ,0);
    img {
      width: 100%;
      position: relative;
    }
    .portfolio-desc {
      @include desc;     
      }
    }
    @media only screen and (max-width: 900px) {
      .portfolio-item {
        width: 49.99999%;
      }
    }
    @media only screen and (max-width: 750px) {
      .portfolio-item {
        width: 100%;
      }
    }
  }
  

.cardContainer {
    background-color: rgb(245, 245, 245);
    width: 100%;
    .card {
        box-sizing: border-box;
        padding: 50px;
        float: left;
        width: 24.99999%;
        img {
          width: 100%;
          height: auto;
          &:hover {
              zoom: 1;
              filter: alpha(opacity=50);
              opacity: 0.5;
              -webkit-transition: opacity .5s ease-in-out;
              -moz-transition: opacity .5s ease-in-out;
              -ms-transition: opacity .5s ease-in-out;
              -o-transition: opacity .5s ease-in-out;
              transition: opacity .5s ease-in-out;
          }
        }
        .sub {
          padding: 15px;
          text-align: center;
        }
        h4{
            margin: 0;
            padding: 0;
        }
        p {
            text-align: center;
        }
      }
      
@include media;
      
      .clearfix:after {
        content: "";
        display: table;
        clear: both;
      }
}

.meet {   
    width: 100%;
    text-align: center;
    line-height: 25px;

    hr {
        @include hr;      
        }
    
    .portrait{
        box-sizing: border-box;
        padding: 20px;
        float: left;
        width: 24.99999%;
        img {
          width: 100%;
          height: auto;
        }
        .name{
            padding-top: 15px;
            text-transform: uppercase;
            
        }
        .job {
            color: #7CD9C6;
        }
    }
    @media only screen and (max-width: 900px) {
      .portrait {
        width: 49.99999%;
        margin: 6px 0;
      }
    }
    
    @media only screen and (max-width: 750px) {
      .portrait {
        width: 100%;
      }
    }
  }